
* {
    box-sizing: border-box;
}

body{
    background:#eee;
    width: 100%;
    height: 100%;
}
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0;
}

.btn-1fbf92 {
    background-color: #1fbf92;
}

.content {
    margin-top: 60px;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label.remember {
    margin: 15px;
}

button {
    background-color: #3897f0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.registerbtn a {
    text-decoration: none;
    color: white;
}

.registerbtn{
    width: 50%;
    padding: 10px 18px;
    background-color: #f44336;
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.psw {
    width: 50%;
    float: right;
    padding-top: 16px;
}

.psw a {
    color: #3897f0;
}
.contact-info__wrapper img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}