button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}
.respuesta {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
}
.respuesta-correcta {
    background-color: green;
}
.respuesta-incorrecta {
    background-color: red;
}
a{
    color: black;
}
.reportar-btn {
    display: flex;
    text-align: center;
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 75%;
    opacity: 0.9;
}

.reportar-btn:hover {
    opacity: 1;
}