<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="/view/resources/css/footerStyles.css">
    <style>
        .footer {
            text-align: center;
            padding: 10px;
            color: black;
        }
    </style>
</head>
<body>
<footer>
    <p> © UNLaM 2024, Programación Web II </p>
</footer>
</body>
</html>
