<!--<!DOCTYPE html>-->
<!--<html lang="es">-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" type="text/css" href="/public/css/header.css">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="header">-->
<!--    -->
<!--    <div class="contenedor-img">-->
<!--&lt;!&ndash;        <a href="#default" class="logo"><img src="/public/images/logo.png" alt="logo"></a>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="header-right">-->
<!--        <a href="/user/home"> Mi perfil </a>-->
<!--        {{#usuario}}-->
<!--        <a href="/user/home"><img src="/{{fotoDePerfil}}" width="150" height="150" border-radius="50%"> </a>-->
<!--        {{/usuario}}-->
<!--        <a href="">About</a>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->

