<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/65c8bcbd9c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css">
    <title> Administrador </title>

    <script>
        function enviarFormulario() {
            var formulario = document.getElementById('formulario');
            var opcionSeleccionada = document.getElementById('opcion').value;
            formulario.action = '/admin/' + encodeURIComponent(opcionSeleccionada);
            formulario.submit();
        }
    </script>
</head>
<body>
<div class="container mt-5">

    <!--<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-user fa-5x"></i>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Cantidad de usuarios</h5>
                <p class="card-text">Cantidad</p>
                <p>{{cantidad_de_usuarios}}</p>
                <p class="card-text"><small><a href="/admin/getCantidadDeUsuarios">Ver lista de usuarios</a></small></p>
            </div>
        </div>
    </div>
</div>-->
    <!--<div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-dice fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cantidad de partidas jugadas </h5>
                    <p class="card-text">Cantidad</p>
                    <p class="card-text"><small><a href="/admin/verListaDePartidas">Ver lista de partidas</a></small></p>

                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-circle-question fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cantidad de preguntas </h5>
                    <p class="card-text">Cantidad</p>
                    <p class="card-text"><small><a href="/admin/verListaDePreguntas">Ver lista de preguntas</a></small></p>
                </div>
            </div>
        </div>
    </div>-->


    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-circle-question fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Filtrado </h5>
                    <form id="formulario" action="/admin/" method="post">

                        <label for="opcion">Opción:</label>

                        <select name="opcion" id="opcion">
                            <!--<option value="partidas_jugadas">Cantidad de partidas jugadas</option>
                            <option value="preguntas_juego">Cantidad de preguntas en el juego</option>
                            <option value="preguntas_creadas">Cantidad de preguntas creadas</option>
                            <option value="usuarios_nuevos">Cantidad de usuarios nuevos</option>-->
                            <option value="getPorcentajeCorrectasPorUsuario">respuestas correctas por usuario</option>
                            <option value="getCantidadDeUsuariosPorPais">Cantidad de usuarios por país</option>
                            <option value="getCantidadDeUsuariosPorGenero">Cantidad de usuarios por sexo</option>
                            <option value="getCantidadDeUsuariosPorGrupoDeEdad">Cantidad de usuarios por grupo de edad</option>
                        </select>

                        <label for="fechaDesde">Desde:</label>
                        <input type="date" id="fechaDesde" name="fechaDesde" required>
                        <br><br>
                        <label for="fechaHasta">Hasta:</label>
                        <input type="date" id="fechaHasta" name="fechaHasta" required>

                        <button type="button" onclick="enviarFormulario()">Filtrar</button>
                    </form>

                    <!--<p class="card-text">Cantidad</p>-->
                    <!--<p class="card-text"><small><a href="/admin/getCantidadDeUsuariosPorGrupoDeEdad">filtrar</a></small></p>-->

                </div>

            </div>
        </div>
    </div>






        <div class="graficos">

            <img src="/{{resultado}}" alt="grafico" {{vista}}>

        </div>

    <div class="container mt-5 ">
        <form action="/admin/generarPDF" method="post">
            <input type="hidden" name="image_name" value="{{resultado}}">

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Generar PDF</button>
            </div>

        </form>
    </div>


</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
