<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/65c8bcbd9c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css">
    <title> Administrador </title>
</head>
<body>
<div class="container mt-5">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-user fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cantidad de usuarios</h5>
                    <p class="card-text">Cantidad</p>
                    <p>{{cantidad_de_usuarios}}</p>
                    <p class="card-text"><small><a href="/admin/getCantidadDeUsuarios">Ver lista de usuarios</a></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-dice fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cantidad de partidas jugadas </h5>
                    <p class="card-text">Cantidad</p>
                    <p class="card-text"><small><a href="/admin/verListaDePartidas">Ver lista de partidas</a></small></p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-circle-question fa-5x"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cantidad de preguntas </h5>
                    <p class="card-text">Cantidad</p>
                    <p class="card-text"><small><a href="/admin/verListaDePreguntas">Ver lista de preguntas</a></small></p>
                </div>
            </div>
        </div>
    </div>


        <div class="graficos">
    {{#graficos}}
            <img src="{{grafico}}" alt="grafico">
    {{/graficos}}
        </div>


</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
