<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/65c8bcbd9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/public/css/sidenavEditor.css">
    <title> Editor </title>
</head>
<body>

<!--<ul class="sidenav">-->
<!--    <li><a class="active" href="/editor/home">Listado de preguntas</a></li>-->
<!--    <li><a href="/editor/verPreguntasReportadas">Preguntas reportadas</a></li>-->
<!--    <li><a href="/editor/verPreguntasSugeridas">Preguntas sugeridas</a></li>-->
<!--</ul>-->

<h1>Listado de Preguntas</h1>

<div class="alert alert-danger" role="alert">
    {{#error}}
        <p> {{error}} </p>
    {{/error}}
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th> Preguntas </th>
            <th> Categoría </th>
            <th> Editar </th>
            <th> Eliminar </th>
        </tr>
        </thead>
        <tbody>
        {{#preguntas}}
        <tr>
                <td> {{pregunta}} </td>
                <td> {{categoria}}</td>
                <td>
                    <form action="/editor/editarPregunta" method="POST">
                        <input type="hidden" name="idPreguntaAEditar" value="{{id}}">
                        <button type="submit"><i class="fa-solid fa-pen-to-square"></i></button>
                    </form>
                </td>
                <td>
                    <form action="/editor/eliminarPregunta" method="POST">
                        <input type="hidden" name="idPreguntaAEliminar" value="{{id}}">
                        <button type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
        </tr>
        {{/preguntas}}
        </tbody>
    </table>
</div>
</body>
</html>