<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Lobby </title>
    <link rel="stylesheet" type="text/css" href="/public/css/lobbyStyle.css">
</head>
<body>

<div class="container">
    <div class="event-button-container">
        <div class="event-button" id="nuevaPartida" action="user/redirigirNuevaPartida">
            <div class="event-title"><a href="/user/redirigirNuevaPartida">NUEVA PARTIDA</a></div>
        </div>
        <div class="event-button" id="verRanking" action="user/redirigirRanking">
            <div class="event-title"><a href="/user/redirigirRanking">VER RANKING</a> </div>
        </div>
        <div class="event-button" id="misPartidas" action="user/verMisPartidas">
            <div class="event-title"><a href="/user/getMisPartidas">MIS PARTIDAS</a> </div>
        </div>
        <div class="event-button" id="sugerirPregunta" action="user/irASugerirPregunta">
            <div class="event-title"><a href="/user/irASugerirPreguntas">SUGERIR PREGUNTA</a> </div>
        </div>
    </div>
</div>

</body>
</html>
