<?php
// login.php
$page = 'login'; // puedes usar una variable para indicar la página actual
?>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/loginViewStyle.css">
    <link rel="stylesheet" href="/public/css/footerStyle.css">
    <title>Iniciar Sesión</title>
</head>
<body>

<div class="container">
    <div class="left-side">
        <img src="" alt="Logo de la App" class="logo">
    </div>
    <div class="right-side">
        <form action="/login/login" method="post">
            <label for="emailLogin"><b>Username</b>
                <input type="text" placeholder="Email" id="emailLogin" name="emailLogin" required>
            </label>

            <label for="passwordLogin"><b>Password</b>
                <input type="password" placeholder="Contraseña" id="passwordLogin" name="passwordLogin" required>
            </label>

            <div class="alert alert-danger" role="alert">
                {{#error}}
                    <p> {{error}} </p>
                {{/error}}
            </div>

            <button type="submit">Login</button>
            <label for="remember" class="remember">
                <input type="checkbox" checked="checked" name="remember" id="remember"> Remember me
            </label>

            <div class="container" style="background-color:#f1f1f1; padding: 10px;">
                <button type="button" class="registerbtn"> <a href="/registro/home"> Registrarme </a></button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
</div>

<footer>
    <p class="footer"> © UNLaM 2024, Programación Web II </p>
</footer>
</body>
</html>
