<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/65c8bcbd9c.js" crossorigin="anonymous"></script>
    <title> Editar perfil </title>
    <!--    MDB CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<section style="background-color: #eee;">
    {{#usuario}}
        <div class="container py-5">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="/{{fotoDePerfil}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{nombreCompleto}}</h5>
                            <p class="text-muted mb-1">{{nombreDeUsuario}}</p>
                            <p class="text-muted mb-4"> {{pais}}, {{ciudad}}</p>
                            <div class="d-flex justify-content-center mb-2">
                            </div>
                        </div>
                    </div>
                    {{#redes}}
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0"> {{pagina_web}} </p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg text-body"></i>
                                    <p class="mb-0">{{github}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">{{twitter}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">{{instagram}}</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">{{facebook}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{/redes}}
                    <a href="/user/irAAgregarRedes"> Agregar red social</a>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Nombre completo</p>
                                </div>
                                <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                                <p class="text-muted mb-0">{{nombreCompleto}}</p>
                                <a href="/user/editarPerfil"> <i class="fa-regular fa-pen-to-square"></i> </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nombre de usuario</p>
                            </div>
                            <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                            <p class="text-muted mb-0">{{nombreDeUsuario}}</p>
                            <a href="/user/editarPerfil"> <i class="fa-regular fa-pen-to-square"></i> </a>
                        </div>
                    </div>
                    <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                            <p class="text-muted mb-0">{{email}}</p>
                            <a href="/user/editarPerfil"> <i class="fa-regular fa-pen-to-square"></i> </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Fecha de nacimiento</p>
                        </div>
                        <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                        <p class="text-muted mb-0">{{fechaDeNacimiento}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">País</p>
                    </div>
                    <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="text-muted mb-0">{{pais}}</p>
                    <a href="/user/editarPerfil"> <i class="fa-regular fa-pen-to-square"></i> </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Ciudad</p>
                </div>
                <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
                <p class="text-muted mb-0">{{ciudad}}</p>
                <a href="/user/editarPerfil"><i class="fa-regular fa-pen-to-square"></i></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Género</p>
            </div>
            <div class="col-sm-9" d-flex justify-content-between align-items-center" style="display: flex; justify-content: space-between; align-items: center;">
            <p class="text-muted mb-0">{{genero}}</p>
            <a href="/user/editarPerfil"><i class="fa-regular fa-pen-to-square"></i></a>
        </div>
        </div>

        </div>
        </div>
        </div>
        </div>
        </div>
    {{/usuario}}
</section>

<!-- MDB JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>

</body>
</html>