<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Usuario </title>
    <style>
        body{
            background-color:#f2f2f2;
            padding: 2% 2% 2% 2%;
        }
        section{
            display:flex;
            flex-direction:row;
            justify-content:space-around;
        }
        section div{
            background-color:#dddcdc;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            width:45%;
            padding: 5% 5% 5% 5%;
            border-radius:35px;
        }
        h2, h3{
            text-decoration: underline;
            font-weight:bold;
        }
        h2{
            text-align:center;
        }
    </style>
</head>
<body>
<h2>Usuario</h2>
<section>
    <div>
        <h3>Mis datos</h3>
        {{#usuario}}
        <p>Nombre: {{nombreCompleto}}</p>
        <p>E-Mail: {{email}}</p>
        <p>Fecha de nacimiento: {{fechaDeNacimiento}}</p>
        <p>Sexo: {{genero}}</p>
        <p>Nacionalidad: {{pais}}</p>
        <p>Ciudad: {{ciudad}}</p>
        <p>Nombre de usuario: {{nombreDeUsuario}}</p>
        <p>Contraseña: {{password}}</p>
    </div>
    <div>
        <p> {{fotoDePerfil}}</p>
        {{/usuario}}
        <p>Cantidad de partidas jugadas:</p>
        <p>Puntaje final:</p>
    </div>
</section>
</body>
</html>