<style>
    button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
    }
    .respuesta{

        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: grey;
        color: #fff;
        cursor: pointer;
    }
</style>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">


            <h2>Pregunta: {{#preguntas}} {{ pregunta }} {{/preguntas}}</h2>


                {{#opciones}}
                <form action="/pregunta/validarPregunta&idPregunta={{pregunta_id}} " method="post">

                <p><button id="respuesta" name="respuesta"  value={{id}} {{estadoBoton}}>{{ respuesta }}</button></p>

                </form>

                {{/opciones}}


    <p class="respuesta">Respuesta: {{result}}</p>
    <a href="/pregunta/getPregunta"{{visivilidad}}>Siguiente</a>






</div>