<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/65c8bcbd9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/public/css/sidenavEditor.css">
    <title> Editor </title>
</head>
<body>

<ul class="sidenav">
    <li><a href="/editor/home">Listado de preguntas</a></li>
    <li><a class="active" href="/editor/verPreguntasReportadas">Preguntas reportadas</a></li>
    <li><a href="/editor/verPreguntasSugeridas">Preguntas sugeridas</a></li>
    <li><a href="/editor/irACrearPregunta">Crear pregunta</a></li>
</ul>

<h1> Listado de preguntas reportadas </h1>

<div class="alert alert-danger" role="alert">
    {{#error}}
        <p> {{error}} </p>
    {{/error}}
</div>

<div class="container">
    <table>
        <thead>
        <tr>
            <th> Preguntas </th>
            <th> Categoría </th>
            <th> Quitar </th>
        </tr>
        </thead>
        <tbody>
        {{#reportadas}}
            <tr>
                <td> {{pregunta}} </td>
                <td> {{nombre}}</td>
                <td>
                    <form action="/editor/quitarDeReportadas" method="POST">
                        <input type="hidden" name="idPregunta" value="{{id}}">
                        <button type="submit"><i class="fa-solid fa-eraser"></i></button>
                    </form>
                </td>
            </tr>
        {{/reportadas}}
        </tbody>
    </table>
</div>
</body>
</html>