<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/verRanking.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Resultados de partida</title>
</head>
<body>
<h1>Resultados</h1>

{{#error}}
    <div class="w3-panel w3-pale-red w3-border">
        <p> {{error}} </p>
    </div>
{{/error}}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th><p> Fecha </p></th>
            <th><p> Correctas </p></th>
            <th><p> Incorrectas </p></th>
        </tr>
        </thead>
        <tbody>
        {{#partidas}}
            <tr>
                <td>{{fecha}}</td>
                <td>{{correctas}}</td>
                <td>{{incorrectas}}</td>
            </tr>
        {{/partidas}}
        </tbody>
    </table>
</div>
</body>
</html>
