<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/public/css/sobrenosotros.css">
    <title>Sobre nosotros</title>
</head>
<body>
<div>
    <h1 class="enc">¡Bienvenido a Quizziar!</h1>
    <h3 class="enc">Tu portal de trivia para aprender y divertirte</h3>
    <p>Quizziar es una plataforma de trivia educativa y entretenida, diseñada para que puedas poner a prueba tus conocimientos
        y descubrir nuevos temas de interés. Con una variedad de categorías y niveles de dificultad, Quizziar te ofrece una experiencia
        de aprendizaje interactiva y desafiante.</p>
</div>

<div>
    <h4 class="enc">¿Qué puedo encontrar en Quizziar?</h4>
    <div>
        <ul class="unordered-list">
            <li class="list-item">Preguntas de trivia en diversas categorías: Arte, Ciencia, Deportes, Entretenimiento, Geografía e Historia</li>
            <li class="list-item">Niveles de dificultad: Desde principiantes hasta avanzados</li>
            <li class="list-item">Sistema de puntos: Gana puntos por cada respuesta correcta</li>
            <li class="list-item">Interfaz intuitiva y fácil de usar: Navega por la plataforma de manera sencilla y disfruta de una experiencia fluida.</li>
        </ul>
    </div>
</div>

<div>
    <h4 class="enc">¿Quiénes somos?</h4>
    <p>Somos Eugenio Miere, Yanina Domine y Bianca Leites, un equipo de estudiantes que desarrollaron este proyecto universitario bajo
        el marco de la asignatura de Programación Web II. Implementamos diversas tecnologías siguiendo el patrón arquitectónico MVC
        (Modelo-Vista-Controlador), además de incluir Bootstrap y JavaScript, entre otras herramientas.</p>
</div>

<h4 class="enc">¿Por qué elegir Quizziar?</h4>
<div>
    <ul class="unordered-list">
        <li class="list-item">Aprenderás de forma divertida: La trivia te permite adquirir nuevos conocimientos mientras te diviertes y te desafías a ti mismo</li>
        <li class="list-item">Mejorarás tu memoria y habilidades cognitivas: La trivia te ayuda a ejercitar tu mente y mantenerla activa.</li>
        <li class="list-item">Aprenderás a tu ritmo: Quizziar te ofrece la libertad de aprender a tu propio ritmo</li>
    </ul>
</div>

</body>
</html>
