<!-- LOBBY -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Lobby </title>
    <link rel="stylesheet" type="text/css" href="/public/css/usuarioViewStyle.css">
</head>
<body>
<div class="event-button-container">
    <div class="event-button" id="nuevaPartida" style="background-image: url('../public/images/nuevapartida.png')" action="user/redirigirNuevaPartida">
        <div class="event-title"><a href="/user/redirigirNuevaPartida">NUEVA PARTIDA</a></div>
    </div>
    <div class="event-button" id="verRanking" style="background-image: url('../public/images/verranking.png')" action="user/redirigirRanking">
        <div class="event-title"><a href="/user/redirigirRanking">VER RANKING</a> </div>
    </div>
    <div class="event-button" id="misPartidas" style="background-image: url('../public/images/mispartidas.png')">
        <div class="event-title"><a href="/user/redirigirAMisPartidas">MIS PARTIDAS</a> </div>
    </div>
</div>
</body>
</html>
