<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/verRanking.css">
    <title>Ranking de Usuarios</title>
</head>
<body>
<h1>Ranking de Usuarios</h1>
<div class="container">
    <table>
        <thead>
        <tr>
            <th><p> Ranking </p></th>
            <th><p> Foto de Perfil </p></th>
            <th><p> Nombre </p></th>
            <th> <p> Puntaje</p></th>
        </tr>
        </thead>
        <tbody>
        {{#ranking}}
            <tr>
                <td>{{ranking}}</td>
                <td><img src="{{fotoDePerfil}}" alt="{{nombre}}"></td>
                <td>{{nombre}}</td>
                <td>{{total_correctas}}</td>
            </tr>
        {{/ranking}}
        </tbody>
    </table>
</div>
</body>
</html>
